/* CSSリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* paddingやborderをwidth/heightに含める */
}

/* bodyのベーススタイル */
body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* アプリ全体の背景色 */
  background-color: #ffffff;
  /* 全体の文字色 */
  color: #333;
}
